service: zuhaus-live-appsync-backend

frameworkVersion: "2"

plugins:
  - serverless-appsync-plugin

provider:
  name: aws
  runtime: nodejs12.x
  lambdaHashingVersion: 20201221

package:
  exclude:
    - package-lock.json

custom:
  appsync:
    - ${file(serverless.appsync-api.yml)}

functions:
  hello:
    handler: handler.hello
#resources:
#  Resources:
#    NewResource:
#      Type: AWS::S3::Bucket
#      Properties:
#        BucketName: my-new-bucket
#  Outputs:
#     NewOutput:
#       Description: "Description for the output"
#       Value: "Some output value"
